
<div id="buy-items-container" class="summary-container">
  <p><strong>Total de itens:</strong> <span id="quantity-display">0</span></p>
  <p><strong>Total:</strong> <span>R$ 0,00</span></p>
  <button id="buy-together-button">Comprar todos</button>
</div>